body {
	margin: 0;
	width: 100%;
	height: 100%;
}
#wrap {
	width: 643px;
	margin: 0 auto;
}

[type="text"] {
	width: 120px;
	height: 20px;
}

#btnBox {
	text-align: right;
}

[type="button"] {
  margin-left: 8px;
  margin-top: 12px;
}

caption {
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px
}

table, th {
	border-collapse: collapse;
	border: 1px solid #a1a1a3;
}

td {
	border-right: 1px solid #a1a1a3;
}

th {
	background-color: #d8e2f2;
	width: 126px;
	height: 25px;
	font-weight: 100;
	font-size: 15px;
}

table {
	margin-bottom: 12px;
}

tbody tr:nth-child(odd) {
	background: #f5f7fb;
}


