* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	font-size: 16px;
	line-height: 32px;
	overflow-y: scroll;
}