@charset "utf-8"; 
/* Jeong Chan Myeong(dece24@gmail.com) */

/* -- Button Reset -- */
span.button,
span.button a,
span.button button,
span.button input { position:relative; margin:0; display:inline-block; text-decoration:none !important; border:0; font-size:12px; font-family:Tahoma, Sans-serif; white-space:nowrap; background:url(../img/buttonWhite.gif) no-repeat; vertical-align:middle; overflow:visible; color:#333;}
span.button { height:23px; padding:0; margin-right:2px; background-position:left top; overflow:visible;}
span.button a,
span.button button,
span.button input{ left:2px; *vertical-align:top; _vertical-align:middle;}
span.button.large { height:29px; background-position:left -30px; }
span.button.xLarge { height:35px; background-position:left -65px; }
span.button.small { height:18px; background-position:left -107px; }

/* Anchor */
span.button a { padding:6px 10px 5px 8px; *padding:4px 10px 7px 8px; color:#000; font-size:12px; line-height:12px; background-position:right top;}
span.button.large a { padding:7px 10px 6px 8px; *padding:5px 10px 9px 8px; _top:-1px; font-size:16px; line-height:16px; background-position:right -30px;}
span.button.xLarge a { padding:8px 10px 7px 8px; *padding:6px 10px 9px 8px; font-size:20px; line-height:20px; background-position:right -65px;}
span.button.small a { padding:4px 6px 3px 4px; *padding:2px 6px 5px 4px; font-size:11px; line-height:11px; background-position:right -107px; _top:-1px;}

/* Button & Input */
span.button button,
span.button input { height:23px; padding:0 10px 0 8px; font-size:12px; line-height:24px; background-position:right top; cursor:pointer;}
span.button.large button,
span.button.large input { height:30px; padding:0 10px 0 8px; font-size:16px; line-height:30px; background-position:right -30px;}
span.button.xLarge button,
span.button.xLarge input { height:35px; padding:0 10px 0 8px; font-size:20px; line-height:36px; background-position:right -65px;}
span.button.small button,
span.button.small input { height:18px; padding:0 6px 0 4px; font-size:11px; line-height:18px; background-position:right -107px;}

/* Strong */
span.button.strong * { font-weight:bold !important;}

/* Color */
span.button *:hover,
span.button *:active,
span.button *:focus{ color:#690;}
span.button.green,
span.button.green a,
span.button.green button,
span.button.green input { background-image:url(../img/buttonGreen.gif); color:#fff;}
span.button.green *:hover,
span.button.green *:active,
span.button.green *:focus{ color:#ff0;}
span.button.black,
span.button.black a,
span.button.black button,
span.button.black input { background-image:url(../img/buttonBlack.gif); color:#fff;}
span.button.black *:hover,
span.button.black *:active,
span.button.black *:focus{ color:#ff0;}
span.button.red,
span.button.red a,
span.button.red button,
span.button.red input { background-image:url(../img/buttonRed.gif); color:#fff;}
span.button.red *:hover,
span.button.red *:active,
span.button.red *:focus{ color:#ff0;}
span.button.blue,
span.button.blue a,
span.button.blue button,
span.button.blue input { background-image:url(../img/buttonBlue.gif); color:#fff;}
span.button.blue *:hover,
span.button.blue *:active,
span.button.blue *:focus{ color:#ff0;}

/* Temp */
table{width:100%}
th, td{padding:5px}
caption{font-weight:bold;text-align:left}
/* UI Object */
.btn_pack,
.btn_pack *{display:inline-block;overflow:visible;position:relative;margin:0;padding:0;border:0;background:url(../img/gray_pack.gif) no-repeat;font-size:12px;font-family:Tahoma, Sans-serif;color:#666;text-decoration:none !important;vertical-align:top;white-space:nowrap;font-weight:bold;}
.btn_pack{margin-right:4px}
.btn_pack *{left:4px;cursor:pointer;_cursor:hand}
.btn_pack.medium,
.btn_pack.medium *{height:24px;line-height:24px}
.btn_pack.large,
.btn_pack.large *{height:30px;line-height:30px}
.btn_pack.xlarge,
.btn_pack.xlarge *{height:36px;line-height:36px}
.btn_pack.small,
.btn_pack.small *{height:19px;line-height:19px}
.btn_pack.medium{background-position:left 0}
.btn_pack.large{background-position:left -30px}
.btn_pack.xlarge{background-position:left -65px}
.btn_pack.small{background-position:left -106px}
.btn_pack.medium *{padding:0 10px 0 6px;background-position:right top;font-size:12px}
.btn_pack.large *{padding:0 10px 0 6px;background-position:right -30px;font-size:16px}
.btn_pack.xlarge *{padding:0 10px 0 6px;background-position:right -65px;font-size:20px}
.btn_pack.small *{padding:0 6px 0 2px;background-position:right -106px;font-size:11px}
.btn_pack *:hover,
.btn_pack *:active,
.btn_pack *:focus{color:#690}
.btn_pack.strong *{font-weight:bold !important}
.btn_pack.icon *{padding-left:20px}
.btn_pack.small.icon *{padding-left:16px}
.btn_pack.icon span{width:20px;margin-right:-20px;padding:0 !important}

.btn_pack.medium .update{background-position:4px -149px}
.btn_pack.large .update{background-position:4px -145px}
.btn_pack.xlarge .update{background-position:5px -143px}
.btn_pack.small .update{background-position:3px -152px}
.btn_pack.medium .delete{background-position:-16px -149px}
.btn_pack.large .delete{background-position:-14px -145px}
.btn_pack.xlarge .delete{background-position:-14px -143px}
.btn_pack.small .delete{background-position:-18px -152px}
/* //UI Object */

