body{
	padding: 0;
	margin: 0;	
}
#depth2 a:LINK{
	width: 50%;	
}
#depth2 img{
	padding-left: 60px;
	padding-top: 0;
	float: none;
}

#depth2 .selected img{
	padding-left: 57px;
}

#depth2 .selected{
	height: 60px;
}

#depth2 .selected li{
	padding: 0;
	margin: 0;
}
#depth3 ul{
	margin-left: -20px;	
}
#depth3 li {
	background: none;
	filter:none;	
	border-bottom: none;
}

#depth3 li img{
	display: none;
}

#depth3 .selected{
	height: 15px;
}

ul.linkbar{
	padding-right: -20px;	
}
ul.linkbar li{
	padding-left: 10px;	
	padding-right: 10px;
	float: right;
}

ul.linkbar li img{
	position:absolute;
	display: block;	
	padding-left: -50px;
}

#footer .fr{
	width: 79%;	
}

span .button{
	border: 1px solid gray;	
}