body,div,td,th, input,textarea,select {
	font-family: tahoma,arial,verdana;
	font-size: 8pt;
}


#menu a:link {
	color: #ffffff;
	background-color: transparent;
	text-decoration: none;
}
#menu a:visited {
	color: #ffffff;
	background-color: transparent;
	text-decoration: none;
}
#menu a:active {
	color: #ffffff;
	background-color: transparent;
	text-decoration: none;
}
#menu a:hover {
	color: #ffe96d;
	background-color: transparent;
	text-decoration: none;
}

.linkbar a:link {
	color: #aebfcc;
	background-color: transparent;
	text-decoration: none;
}
.linkbar a:visited {
	color: #aebfcc;
	background-color: transparent;
	text-decoration: none;
}
.linkbar a:active {
	color: #aebfcc;
	background-color: transparent;
	text-decoration: none;
}
.linkbar a:hover {
	color: #ffe96d;
	background-color: transparent;
	text-decoration: none;
}

#depth2 a:link {
	color: #444444;
	background-color: transparent;
	text-decoration: none;
}
#depth2 a:visited {
	color: #444444;
	background-color: transparent;
	text-decoration: none;
}
#depth2 a:active {
	color: #444444;
	background-color: transparent;
	text-decoration: none;
}
#depth2 a:hover {
	color: #0a4e85;
	background-color: transparent;
	text-decoration: none;
}

#depth3 a:link {
	color: #666666;
	background-color: transparent;
	text-decoration: none;
}
#depth3 a:visited {
	color: #666666;
	background-color: transparent;
	text-decoration: none;
}
#depth3 a:active {
	color: #666666;
	background-color: transparent;
	text-decoration: none;
}
#depth3 a:hover {
	color: #d2d2d2;
	background-color: transparent;
	text-decoration: none;
}

.content_nav a{
	text-decoration: none;
	color: #666666;
}

#footer a{
	text-decoration: none;
	color: #a4a4a4;
}


.fl{float: left;}

