@charset "utf-8"; 
/* Shin Cho Long (chfhddl36@cyber-i.com) */

/* -- Button Reset --  */
span.button{ 
	/* ---radius--- */
	border: 1px solid #c9c9c9;
	border-bottom: 1px solid #dcdcdc;
	border-radius:2px 2px 2px 2px; 
	-moz-border-radius:2px 2px 2px 2px; 
	-webkit-border-radius:2px 2px 2px 2px; 
	
	/*  ---background gradient---  */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff, endColorStr=#f2f2f2);
	background:#ffffff -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f2f2f2));
	background:#ffffff -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background:#ffffff -o-linear-gradient(top, #ffffff, #f2f2f2);
		
	padding: 2px 7px;
	cursor: pointer;
}

span.button span.upbg{
	padding-left:10px;
	background: url("../../../coreframe/img/icon_update.png") 0px 3px no-repeat;
}

span.button span.delbg{
	padding-left:10px;
	background: url("../../../coreframe/img/icon_delete.png") 0px 3px no-repeat;
}

span.button input{ 
	font-weight: bold;
	color:#666666;
	cursor: pointer;
}

span.button *:hover,
span.button *:active,
span.button *:focus{ color:#690;}