body {
	margin: 0;
	color: #555;
}

a {
	color: #555;
	text-decoration: none;
}

#wrap {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

form {
	width: 800px;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	display: inline-block;
	width: inherit;
}

th:first-child, th:last-child {
	width: 90px;
}

th:nth-child(2) {
	width: 370px;
}

th:nth-child(3), th:nth-child(4) {
	width: 117px;
}

select {
	width: 90px;
	height: 28px;
	padding-bottom: 3px;
}

input[name="search"] {
	width: 300px;
	height: 22px;
	cursor: pointer;
}

input[type="submit"] {
	background-color: #595959;
	border: #595959;
	border-radius: 3px;
	width: 55px;
	height: 27.5px;
	padding-bottom: 4px;
	color: white;
}

#searchBox {
	border-top: 2px solid black;
	border-bottom: 1px solid #d1d1d1;
	padding: 12px 0;
	margin: 20px 0;
}

thead {
	border-top: 2px solid black;
	border-bottom: 1px solid #d1d1d1;
	line-height: 35px;
	font-size: 14px;
}

tbody > tr {
	border-bottom: 1px solid #d1d1d1;
	line-height: 30px;
}

tbody tr > td:nth-child(2) > a {
	text-align: left;
	display: block;
	width: inherit; 
}

tfoot {
	line-height: 75px;
}

tfoot tr td > a {
	border: 1px solid #d7d7d7;
	padding: 4px 9px;
	font-size: 12px;
}

#wrap > div {
	width: 800px;
	margin: 0 auto;
}

div > a {
	background: #007e65;
	color: white;
	border-radius: 3px;
	padding: 8px 20px;
	font-size: 14px;
	float: right;
	margin-left: 10px;
}

.selected {
	color: #007e65;
	font-weight: bold;
}































