body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#header {
    width: 100%;
    height: 30px;
    background: #efebdb;
    clear: both;
}

#header ul li {
    float: right;
    padding: 2px 20px 0 0;
}

#header ul li a {
    font-size: 13px;
    color: #6f6247;
    font-weight: bold;
}

#logo {
    text-align: center;
    border-bottom: 2px solid #cdc197;
    padding: 7px 0;
}

#logo > a {
    display: inline-block;
}

#menu ul {
    height: 70px;
    text-align: center;
    position: relative;
    top: 21px;
}

#menu ul li {
    display: inline-block;
    width: 128px;
}

#menu ul li:nth-child(2) {
    border-left: 1px solid #e4e1d5;
}

#menu ul li a {
    color: #555;
    display: inline-block;
    width: inherit;
    font-size: 18px;
}

#sub-bar {
    background: #dad2b4;
    text-align: center;
    height: 40px;
}

#depth2 {
    font-size: 15px;
    position: relative;
    top: 9px;
}

#depth2 > li {
    display: inline-block;
    margin-left: 30px;
}

#depth2 > li:first-child {
    margin-left: 0;
}

#depth2 > li > a {
    color: black;
}

#content {
    width: 980px;
    margin: 0 auto;
}

#footer_wrap > p:first-child {
    background: url("../../default/img/footer.jpg") no-repeat;
    height: 32px;
    background-size: 35px;
    padding-left: 45px;
    padding-top: 3px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
}

#footer {
    background: #f5f5f5;
    padding: 25px 0;
}

#footer_wrap > p {
    margin: 0;
}

#copy {
    color: gray;
    font-size: 15px;
}

#footer_wrap {
    width: 980px;
    margin: 0 auto;
}

.tabCss1, .tabCss2 {
    font-weight: bold;
}

.tabCss2 {
    border-bottom: 2px solid black;
    padding-bottom: 9px;
}

#loginBox {
    border: 1px solid #d2d2d2;
    width: 306px;
    position: absolute;
    right: 0;
    margin-right: 22px;
    background: white;
}

#loginBox > ul {
    margin: 0 20px 0 20px;
    position: relative;
    top: -20px;
}

#loginBox > ul > li {
    border: 1px solid #d2d2d2;
    padding: 8px 0 4px 9px;
    margin-bottom: 10px;
    display: inherit;
    height: 37px;
}

#loginBox > input {
    background: none;
    border: none;
    float: right;
    cursor: pointer;
    margin-right: 14px;
    position: relative;
    top: -20px;
}

#loginBox > ul > li > a {
    display: inline-block;
    height: 33px;
}

#loginBox > ul > li > a >img {
    margin-right: 15px;
}

#loginBox > ul > li > a > span {
    position: relative;
    top: -12px;
    font-size: 14.5px;
    color: #666;
}

#loginBtnBox, #logoutBtnBox, #mypageBtnBox, #statusBox {
    display: none;
}

#loginBox {
    display: none;
}

#naverIdLogin {
    width: 35px;
}

#naverStyle {
    top: -27px !important;
    left: 48px;
}

.movieDisplay {
    opacity: 0.4;
    cursor: none;
}

.movieDisplay > a {
    cursor: default;
}

.time_line > dt > span:nth-child(2) {
    font-weight: bold;
    color: #231f20;
    font-size: 17px;
}

#member_login {
    padding: 20px 20px 0 20px;
    clear: both;
    height: inherit;
    display: inline-block;
}

#member_login_id, #member_login_password {
    padding: 7px 10px;
    width: 180px;
    margin-bottom: 3px;
    float: left;
}

#member_login_btn {
    float: left;
    border: none;
    position: relative;
    top: -36px;
    height: 70px;
    width: 62px;
    font-size: 12px;
    font-weight: bold;
    background: #231f20;
    color: #cdc197;
}