@charset "UTF-8";
.chooseColumnDiv{
	background-color: red;
	position: absolute;
	right:0;
	text-align: left;
	display:none;
}

.containerDiv{
	border-top: 2px solid #555555;
	border-bottom : 1px solid #b2b2b2;
    margin-bottom: 5px;
    padding:0px;
}

.containerDiv table{
    margin: 0;
    border:none;
}

.containerDiv td,.containerDiv th{ 
    border:1px solid black;
}

.containerDiv td:first-child,.containerDiv th:first-child{ 
	border-left: 0px;
}

/* 헤더 영역 : S */
.tableHeadDiv {
	border-bottom: 1px solid #B2B2B2;
}

.tableHeadDiv tr:first-child, .tableBodyDiv tr:first-child{
	border-top: none;
}

.tableHeadDiv .border-on-header td,.containerDiv .border-on-header thead th{
	background-color: #F2F2F2;
	border-top: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
}

.tableHeadDiv .border-on-header tr td:first-child,.containerDiv .border-on-header thead th:first-child {
	border-left: none;
}

.tableHeadDiv .border-on-header tbody tr:first-child td ,.containerDiv .border-on-header thead tr:first-child th {
	border-top: none;
}

.tableHeadDiv .border-on-header tbody td.border-left ,.containerDiv .border-on-header thead th.border-left{
	border-left: 1px solid #E6E6E6;
}
/* 헤더 영역 : E */

/* 바디 영역 : S */
.tableBodyDiv table tbody tr:first-child {
	border-top: none;
}

.tableBodyDiv td a:link,.tableBodyDiv td a:visited{
	color:#333;
	text-decoration: none;
}
.tableBodyDiv td, .miniGrid td{
    padding:0 8px !important;	
}


.expandableTR > TD {
	background-color: #f8f8f8 !important;
	padding:20px;
}

.expandTable {
	border-collapse: separate;
	border-radius : 4px;
	border: 1px solid #b8b8b8 !important;
	overflow: hidden;
}
.expandTable tr td{
    border-top: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
}

.expandTable tr:first-child td{
    border-top: none;
}

.expandTable tr td:first-child{
    border-left: none;
    background-color: #e2e2e2;
}
/* 바디 영역 : E */



/* ================= 아래는 색상과 이미지포지션만 수정  X : S ================= */
.containerDiv .sprite{width:10px;height:10px;background-color: transparent;cursor: pointer;vertical-align: middle;background:none;background-image: url('./img/grid.png');background-repeat: no-repeat;display:inline-block;}

/* button : S*/
.containerDiv .sort_able BUTTON {background-position:-8px -10px;}
.containerDiv .sort_asc BUTTON  {background-position:-48px -10px;}
.containerDiv .sort_desc BUTTON {background-position:-28px -10px;}
.containerDiv .rotate_able BUTTON{background-position:-65px -9px;}
.containerDiv .expand_able {display:none;background-size:115px 60px;background-position:-53px -3px;float:left;width:25px;height:25px;background-color: transparent;cursor: pointer;vertical-align: middle;background-image: url('./img/grid.png');background-repeat: no-repeat;}
.containerDiv .expand_collapse{background-position: -75px -3px;}
.containerDiv.expandMode .expand_able{display:inline-block !important;}

.containerDiv .slide_able{cursor:pointer;width:20px;height:20px;display:block;margin:0;margin-top:4px;padding:0;border:none;overflow:hidden;text-indent: -9999px;}
.containerDiv .slide_able.prev{background-position:-64px -76px;}.containerDiv .slide_able.prev.disabled{background-position:-144px -76px;cursor: default;}
.containerDiv .slide_able.next{background-position:-106px -76px;}.containerDiv .slide_able.next.disabled{background-position:-186px -76px;cursor: default;}
/* button : E*/

/*틀고정 모드 사용시 고정된 테이블의 오른쪽 보더(색상만 변경)*/
.tableContainerBorderFix{
    border-right:1px solid #e2e1e0;
}

/*그리드 영역내의 배경색*/
.containerDiv {
    background: #fafafa;
}

/* 마우스 커서가 올라갔을 경우(hover) TR의  배경색 ( tr:hover는 row수가 많아지면 너무 느려지므로 제거 ) */
.containerDiv tbody tr.hover{background: #EBEBEB !important;}

/* 홀수로우 컬러 */
.containerDiv tr {
    background-color: #fff;
}

/* 짝수로우 컬러 */
.containerDiv tr.even{
	background: #f3f3f3 !important;
}

/* 선택되었을때의 TR의  배경색 selector에 tbody가 들어간건 tr.even보다 우선순위를 두기위해..*/
.containerDiv  tbody tr.selectedTR{
    background: #FCF3D0 !important;
}
/* ================= 아래는 색상과 이미지 포지션만 수정  X : E ================= */


/* ================= 아래는 내부 로직에 의해 사용 수정  X : S ================= */
/*헤더 영역은 padding을 주지 않는다. 어차피 가운대 정렬이니까..*/
.tableHeadDiv td, .tableBodyDiv th{
    text-align: center;
    padding:0 !important;
}

caption{display:none;}/* caption{height:0px;width:0px;visibility: hidden;} */
/*웹접근성 문제로 thead는 숨기는것이 아니라 밖으로 날리기*/
.tableBodyDiv table thead {border: none;}
.tableBodyDiv thead tr{position: absolute;top: -9999px;left: -9999px; }
.tableBodyDiv thead th{line-height: 0;visibility:hidden;font-size: 0px;height: 0;border-top: none;border-bottom: none;}

.tableBodyDiv td, .miniGrid td{
	/* .width: 100%;  IE6 */
	*:first-child+html width: 100%;  /*IE7 */
	overflow : hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
	-o-text-overflow : ellipsis;
}

.tableContainer .yesbr td{
	overflow : visible;
    white-space: normal;
    text-overflow : clip;
	-o-text-overflow : clip;
	word-break:break-all;
}

.tableContainer .bindEvent tbody TR{
	cursor: pointer;
}

/*IE7에서 col을 이용하여 컬럼을 숨길시 display:none 속성을 추가 (다른 브라우저는 내부에서 만드는 css로 제어)*/
.tableContainer col.hiddenable{display: none;}

/* IE8에서 셀을 나오고 숨기는 컨트롤시 버그를 수정하기 위한 클래스(resizing 시 추가후 제거)*/
.tableContainer .displayTable{display: table;}

.tableContainer table{
	*empty-cells: show;/* IE7에서 비어있는 셀의 보더를 나오게(border-collapse가 collapse여야 함)*/
	border-spacing: 0;/*(테이블 default)보더스페이싱을 통해 패딩이 있어도 IE7에서 동일한 width로 계산 되도록..*/
}

/* td를 클릭하여 editmode시 input 과 selectbox를 위한 공간으로 padding변경 (padding: 0px 0px 0px 0px)*/
.tableBodyDiv .editMode{padding-top: 0px;padding-bottom: 0px;}
/* ================= 아래는 내부 로직에 의해 사용 수정  X : E ================= */