/* mobile content CSS */
ul {
	padding: 0;
	margin: 0;
}

#container {
	margin: 0 auto;
	min-height: 300px;
	position: relative;
	padding-top: 40px;
	clear: both;
}

.mobile_container  {
	width: 100%;
}

.mobile_subject {
	display: none;
}

/* article1 */
.content {
	padding-top: 40px;
	padding-left: 18px;
	padding-right: 18px;
}

.tag_prd {
	margin-bottom: 10px;
}

.tag {
	padding: 0 3px 3px 3px;
	font-size: 11px;
}

.blue {
	border: 1px solid #577cbf;
	color: #1f52ae;
}

.brown {
	border: 1px solid #a67400;
	color: #7a5500;
}

.red {
	border: 1px solid #d60024;
	color: #d60024;
}

.star {
	float: right;
	background: url("../../../img/mobile/m_ico_favorite_off.gif") no-repeat;
	width: 32px;
	height: 30px;
	position: absolute;
	right: 15px;
}

.find_list {
	display: none;
}

.line_box {
	border-left: 1px solid #c8cacc;
	border-right: 1px solid #c8cacc;
}

.mobile_find_list {
	border-top: 1px solid #323e51;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #c8cacc;
}

.mobile_find_list_bottom {
	display: inline-block;
	width: 96.5%;
	padding: 16px 14px;
}

.mobile_find_list_bottom .title {
	display: inline-block;
	width: 38%;
}

.mobile_find_list_bottom .txt {
	display: inline-block;
	width: 60%;
	font-size: 15px;
}

.content_name > h3 {
	margin-top: 0;
	margin-bottom: 14px;
	font-size: 17.5px;
}

.title {
	display: block;
	color: #1a345e;
	margin-bottom: 12px;
	font-size: 14px;
}

.txt {
	font-size: 16px;
	line-height: 30px;
	color: #000;
	line-height: 22px;
}

.delete_br {
	display: none;
}

.list1 {
	background: url("../../../img/mobile/m_ico_fund.gif") no-repeat center 80px;
	display: inline-block;
	width: 49%;
	float: left;
	border-right: 1px solid #e5e5e5;
	text-align: center;
	padding: 16px 0;
	padding-bottom: 63px;
}

.list6 {
	background: url("../../../img/mobile/m_ico_d.gif") no-repeat center 105px;
	display: inline-block;
	width: 50%;
	float: right;
	text-align: center;
	padding: 16px 0;
	padding-bottom: 32px;
}

em {
	font-style: normal;
}

.list3 .txt{
	display: inline-block;
	margin-bottom: 10px;
}

.dan {
	color: #a67400;
}

.desc {
	font-size: 11.4px;
	font-weight: lighter;
	color: #a67400;
}

.desc2 {
	font-size: 15px;
}

.desc3 {
	font-size: 15px;
	font-weight: lighter;
}

.desc4 {
	display: inline-block;
	color: #000;
}

.width_style1 {
	width: 13% !important;
}

.width_style2 {
	display: inline-block;
	width: 20%;
}

.fund_down {
	border-top: 1px solid #d4d6d9;
	border-bottom: 1px solid #a7acb4;
	background: #fbfcfc;
	padding: 15px 13px;
	padding-bottom: 22px;
}

.fund_down > span {
	display: block;
	padding-right: 30px;
	position: relative;
	margin-bottom: 15px;
}

.fund_down > span:after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 14px;
	position: absolute;
	right: 0;
	top: 2px;
}

.pdf {
	display: inline-block;
	background: url("../../../img/mobile/m_ico_pdf.gif") no-repeat;
	padding-left: 28px;
	min-height: 24px;
	color: #333;
}

.fund_down a {
	font-size: 13px;
	height: 24px;
	line-height: 22px;
	margin-left: 15px;
}

.spacing_style {
	margin-left: -8px;
	margin-right: -8px;
}

.btn_area {
	width: 100%;
	margin: 30px 0 0 0;
	text-align: center;
	display: table;
	border-spacing: 8px;
}

.btn {
	color: #333;
	width: 31.5%;
	margin-right: 2%;
	height: 44px;
	line-height: 41px;
	border-radius: 2px;
	font-size: 15px;
	display: inline-block;
	position: relative;
	display: table-cell;
}

.bt_red {
	background: #e10029;
	color: #fff;
	padding: 1px 1px;
}

.bt_white {
	background: #fff;
	border: 1px solid #273346;
	color: #273346;
}

.margin_style1 {
	margin-right: 0;
}

.find_box {
	margin-bottom: 30px;
}


.tab_box {
	clear: both;
	position: relative;
}

#tabArea {
	padding-left: 0;
	height: 50px;
	overflow: hidden;
	margin-left: -19px;
	margin-right: -19px;
	position: relative;
	border-bottom : 1px solid #9da3ac;
	border-top: 1px solid #c3c3c3;
	text-align: center;
	white-space: nowrap;
	overflow-x: auto;
}

#tabArea a {
	cursor: pointer;
}

#tabArea > li {
	position: relative;
	display: inline-block;
	padding-bottom: 4px;
}

.ta_1 a {
	position: relative;
}

.tab_box > ul li a {
	height: 47px;
	line-height: 47px;
	display: inline-block;
	margin: 0 19.6px;
	background: #fbfcfc;
	text-align: center;
	letter-spacing: -0.04em;
	color: #666;
	font-size: 15px;
	position: relative;
}

#active {
	font-weight: 600;
}

#active > a:after {
	content: "";
	height: 4px;
	width: 100%;
	background: #e50025;
	position: absolute;
	bottom: -3px;
	left: 0;
}

#active > a {
	color: #d60024;
}
.tb1 {
	margin-top: -4px;
	width: 100%;
	border-top: 2px solid #7f8ca2;
	border-bottom: 1px solid #a7acb4;
	font-size: 14px;
}

.lheight {
	line-height: 21px;
	border-collapse: collapse;
}

.table_style1 th {
	vertical-align: top;
	padding-right: 0 !important;
}

.title_box > h3 {
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 22px;
}

.title_box {
	margin-bottom: 16px;
}

.tb1 td, .tb1 th {
	border-top: 1px solid #e1e3e6;
	padding: 9px 20px;
}

.tb1 td {
	border-left: 1px solid #e1e3e6;
}

.tb1 tr:first-child td, .tb1 tr:first-child th {
	border-top: none;
}

.tb1 th {
	background-color: #f7f9fa;
	color: #1a345e;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	width: 118px;
	font-weight: 100;
}

.ta1_box {
	padding: 15px 18px;
}

.type1_padding {
	padding: 15px 0;
}

.nowrap_style {
	white-space: nowrap;
}

.skyblue_style {
	background-color: #f5f6f7;
}

.none_style {
	display: none !important;
}

.tb1 li {
	line-height: 22px;
}

/* article2 */
.notice_box {
	margin-top: 50px;
}

.notice_box > h3 {
	padding: 0 20px;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #323e51 #cccfd3 #cccfd3 #cccfd3;
}

.notice_box h3 a {
	display: inline-block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #333;
	font-family: monospace;
	letter-spacing: 0.03em;
	background: url("../../../img/common/notice_on.gif") no-repeat 100% 50%;
}

.font_style {
	color: #f94c00;
}

.notice_inner {
	padding: 16px 20px;
	border-left: 1px solid #cccfd3;
	border-right: 1px solid #cccfd3;
	border-bottom: 1px solid #cccfd3;
	font-size: 13px;
	color: #333;
}

.notice_inner > ul > li {
	margin-top: 13px;
	padding-left: 8px;
	background: url("../../../img/common/ico_dot.gif") no-repeat 0 8px;
}

.notice_inner > ul > li:first-child {
	margin-top: 0;
}

.notice_inner ul > li > ul > li {
	line-height: 23px;
	color: #666666;
	font-size: 12px;
}

.notice_inner ul > li > ul {
	margin-top: 7px;
}

.type2 th {
	text-align: center;
}

.type2 td {
	text-align: right;
	font-size: 15px;
}

.type2 h3 {
	float: left;
	margin-top: 0;
	margin-bottom: 14px;
}

.type2 .title_box p {
	float: right;
	line-height: 11px;
	margin-bottom: 0;
	font-size: 14px;
}

.bg_cell {
	background-color: #f7f7f7;
}

.table_none {
	display: none;
}

.img_change {
	background: url("../../../img/mobile/m_btn_list.gif")  no-repeat right 1px;
}

.type2 thead {
	border-bottom: 1px solid #e1e3e6;
}

.txt_guide {
	font-size: 14px;
	line-height: 26px;
	white-space: normal;
}

.type3 {
	margin-top: 20px;
	margin-left: -18px;
	margin-right: -18px;
}

.type3 form {
	display: block;
}

.type3_tb1 {
	width: 100%;
	border-bottom: 1px solid #a7acb4;
	line-height: 26px;
}

.type3 th {
	padding: 10px 0;
	font-size: 13px;
	font-weight: 100;


}

.type3 td {
	padding: 5px 20px 5px 20px;
}

.type3_switch1, .type3_switch2, .type3_switch3 {
	background: url("../../../img/mobile/m_btn_list.gif")  no-repeat right 1px;
}

.table_style th {
	padding: 0;
	padding-left: 9px;
	display: block;
	float: left;
}

.table_style td {
	display: inline-block;
	width: 100%;
	padding: 0;
}

.table_style {
	padding: 8px 0px;
	border-left: 1px solid #a7acb4;
	border-right: 1px solid #a7acb4;
	border-top: 1px solid #a7acb4;
	background-color: white;
}

.form_ui {
	width: 100%;
}

.display_table {
	display: table;
	border-spacing: 10px 3px;
}

.bottom_btn {
	margin-top: 0;
}

.btn_s {
	display: table-cell;
	border: 1px solid #6f7885;
	color: #1a345e;
	height: 37px;
	line-height: 37px;
	border-radius: 2px;
	font-size: 13px;
	margin-right: 10px;
	width: 23%;
	text-align: center;
}

.right_style {
	margin-right: 0;
}

.btn_s span {
	display: inline-block;
	padding: 0 10px;
}

.type3 tbody {
	border-spacing: 0;
}

.form_box {
	margin-top: 9px;
	display: table;
	text-align: center;
}

.calendarWrapper {
	display: table-cell;
	position: relative;
  right: 2.5%;
	width: 16%;

}

.calendarWrapper .date {
	height: 36px;
	padding: 0 10px;
	font-size: 16px;
	width: 87px;
	border: none;
	margin-right: 6px;
	background-color: inherit;
}

.cld_space {
	display: table-cell;
	padding: 0 10px;
	width: 5%;
}

.calOpenBtn {
	background: url("../../../img/mobile/m_ico_schedule.gif") no-repeat;
	display: block;
	width: 27px;
	height: 29px;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 6px;
	right: 5%;
	font-size: 0;
}

.dateBtn {
	display: inline-block;
	width: 100%;
	height: 44px;
	line-height: 41px;
	border-radius: 2px;
	font-size: 15px;
	background: #273346;
	color: #fff;
	text-align: center;
}

.txt_guide2 {
	font-size: 12px;
	margin-bottom: 8px;
	color: #666666;
}

.type3_none {
	display: none;
}

.type3_none1 {
	display: none;
}

.type3_none2 {
	display: none;
}

.type3_none3 {
	display: none;
}


.date_table {
	border-top: 2px solid #7f8ca2;
	border-spacing: 0;
}

.date_table thead {
	background: #f7f9fa;
}

.date_table tbody td {
	padding: 9px 10px;
	text-align: right;
	border-bottom: 1px solid #e1e3e6;
	border-right: 1px solid #e1e3e6;
}

.date_table tbody td:last-child {
	text-align: center;
}

.date_table th {
	border-bottom: 1px solid #e1e3e6;
	border-right: 1px solid #e1e3e6;
	color: #1a345e;
}

.line_delete {
	border: none;
	text-align: center !important;
}

.right_delete {
	border-right: none !important;
}

.right_none {
	border-right: none !important;
}

.tbody_style1 th {
	text-align: left;
	padding-right: 9px !important;
	padding-left: 11px !important;
}

.tbody_style1 td {
	padding: 0;
	padding-right: 7px;
}

.thead_style1 th {
	border-right: 1px solid #e1e3e6;
	padding-left: 10px;
	padding-right: 10px !important;
}

.thead_style1 th:last-child {
	border-right: none;
}

.tbody_style2 td {
	padding-top: 11px;
	padding-bottom: 11px;
}

.table_box {
	width: 100%;
	overflow: auto;
	border-top: 2px solid #7f8ca2;
}
