Label
{
	fontFamily: 돋움, dotum, arial;
	fontSize:11px;
	color:#666666;
}
CheckBox
{
	left: 5px;
	fontFamily: 돋움, dotum, arial;
	fontSize:12px;
	color:#333333;
	horizontalGap: 1;
}
.MainChart {
 	font-size: 11px;
	font-family: 돋움, dotum, arial;
	paddingBottom: 0;
	color:#666666;
}
.showAxisLabelXStyle 
{
	width:65px;
	height:20px;
	backgroundColor:#000000;
	color: #ffffff;
	font-size: 12px;
	font-family: 돋움, dotum, arial;
}
/* 데이터 축 스타일 _ no*/
.noAxisStyle
{	
	minorTickLength : 0;
	minorTickPlacement : none;
	showLine: true;
	showLabels: false;
	tickLength:4;
	tickPlacement: none;
}
/* 보조차트 데이터 축 스타일 */
.axisStyle
{	
	minorTickLength : 0;
	minorTickPlacement : none;
	showLine: true;
	showLabels: true;
	tickPlacement: none;
	color:#666666;
	fontSize:11px;
	fontFamily: dotum;
	tickLength:4;
    tickPlacement:outside;

}
/* 보조차트 데이터 축 프린트 스타일 */
.axisStylePrint
{	
	minorTickLength : 0;
	minorTickPlacement : none;
	showLine: true;
	showLabels: true;
	tickPlacement: none;
	color:#666666;
	fontSize:9px;
	fontFamily: dotum;
	tickLength:4;
    tickPlacement:outside;

}
/* 보조지표 데이터 축 라벨 스타일 정의 */
.showAxisLabelStyle 
{
	width:65px;
	height:20px;
	backgroundColor:#000000;
	color: #ffffff;
	font-size: 12px;
	font-family: 돋움, dotum, arial;
}
.showAxisLabelDataStyle
{
	textAlign:right;
	color:#ffffff;
	font-size: 12px;
	font-family: 돋움, dotum, arial;
}
.axisLabelUnitStyle
{
	 width:65px;
	 height:17px;
	 backgroundColor:#dcdcdc;
	 borderColor:#c9c9c9;
	 borderThickness:1px;
	 borderStyle:solid;
	 borderSides:top, right, bottom;	
}
.axisLabelUnitDataStyle
{
	 textAlign:right;
	 color:#000000;
	fontFamily:Verdana;
	fontSize:9pt;
	letterSpacing:-1;
}
RadioButton {
	fontSize:12px;
	fontFamily: 돋움, dotum, gulim;
	color:#333333;
}
TabNavigator {
	tabWidth:56px;
	fontSize:12px;
	fontFamily:dotum, gulim;
	color:#666666;
	disabledColor:#FFFFFF;
}
/* 차트 출력시에 글꼴 변경 */
.labelPrintbefore {
	font-size: 9px;
	font-family:Tahoma;
	color:#666666;
}
.labelPrintafter {
	font-size: 10px;
	font-family:Tahoma;
	color:#666666;
}
.axisFontStyle {
	font-size:9px;
	fontFamily:Verdana;
	color:#666666;
}
.todayDate
{
	fontFamily:dotum;
	fontSize:12px;
	fontWeight:bold;
	color:#525252;
}
.todayNumber
{
	fontFamily:dotum;
	fontSize:12px;
	color:#525252;
}
.todayPer
{
	fontFamily:dotum;
	fontSize:12px;
}
.mouseNumber
{
	fontFamily:dotum;
	fontSize:11px;
	color:#a2a2a2;
}
.tabNavi
{
	firstTabStyleName : "tabStyle1";
	lastTabStyleName : "tabStyle2";
	/*selectedTabTextStyleName : "selectedTabText";
	color:#656565;
	textRollOverColor:#656565;
	textSelectedColor:#656565;
	backgroundColor:#FFFFFF;
*/
	tabWidth:50px;
}

.tabStyle1
{
	disabledSkin : Embed(source="assets/tab01_off.gif");
	downSkin : Embed(source="assets/tab01_on.gif");
	overSkin : Embed(source="assets/tab01_on.gif");
	upSkin: Embed(source="assets/tab01_off.gif");
	selectedDisabledSkin :Embed(source="assets/tab01_on.gif");
	selectedDownSkin : Embed(source="assets/tab01_on.gif");
	selectedOverSkin : Embed(source="assets/tab01_on.gif");
	selectedUpSkin : Embed(source="assets/tab01_on.gif");
	
	color:#666666;
	textRollOverColor:#666666;
	textSelectedColor:#666666;
	background-color:#ffffff;
	
	header-height:21px;
	padding-top:5px;
	paddingLeft:0;
	paddingRight:0;
	tabWidth:50px;
	
}
.tabStyle2
{
	disabledSkin : Embed(source="assets/tab02_off.gif");
	downSkin : Embed(source="assets/tab02_on.gif");
	overSkin : Embed(source="assets/tab02_on.gif");
	upSkin: Embed(source="assets/tab02_off.gif");
	selectedDisabledSkin :Embed(source="assets/tab02_on.gif");
	selectedDownSkin : Embed(source="assets/tab02_on.gif");
	selectedOverSkin : Embed(source="assets/tab02_on.gif");
	selectedUpSkin : Embed(source="assets/tab02_on.gif");
	
	color:#666666;
	textRollOverColor:#666666;
	textSelectedColor:#666666;
	background-color:#ffffff;
	header-height:21px;
	padding-top:5px;
	paddingLeft:0;
	paddingRight:0;
	tabWidth:49px;
}
.tabFirst
{
	tabWidth : 50px;
	textIndent : -2;
}
.myComboBox
{
	borderColor: #bcbcbc;
	selectionColor: #efddc5;
	rollOverColor: #bcbcbc;
	themeColor: #efddc5;
	dropDownStyleName: "myComboBoxDropDownList";
}
.myComboBoxDropDownList
{
	borderColor:#606163;
}
.btnMinCombo
{
	paddingLeft: 2;
	paddingTop: 3;
	arrowButtonWidth: 19px;
	selectionColor: #efddc5;
	rollOverColor: #fff8ee;
	themeColor: #efddc5;
}
button.btnInitialize
{
	fontFamily: 돋움, dotum, arial;
	fontWeight: normal; fontSize: 12px;
	cornerRadius: 0;
}
label.optionTitle
{
	fontFamily: 돋움, dotum, arial;
	fontWeight: normal; fontSize: 12px;
	color: #6e5d53;
}
NumericStepper {
	color: #333;
}