table,tr,th,td {
	border-collapse: collapse;
}

.warn{
	color: #FFA815;
	font-weight:bold;
}

.err{
	color: #C01020;
	font-weight:bold;
}

.err.space{
	padding-right:16px;
}

pre {
	display:inline;
}


table pre {
	padding: 3px;
	margin: 0;
}

table tr:HOVER{
	
	background-color:#E0E6EA;
	
}

#goToTop{
	cursor:pointer;
	
	font-weight:bold;
	font-size:0.5em;
	padding:1.5em;
	background-color: #EDEDED;
	position:fixed;
	top:20px;
	right: 10px;
	
	border: 1px solid #D3D3D3;
	
	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius: 5px; /* Safari, Chrome */
 	 border-radius: 5px; /* CSS3 */
}